body {
    padding: 0;
    margin: 0;
    background-color: rgb(245,245,245);
    color: rgb(20,20,20);
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

label,
input,
textarea {
    display: block;
}

input,
textarea {
    margin-bottom: 1.2rem;

}

.content {
    padding: 3rem;
}

.project {
    border: 1px solid rgb(20,20,20);
    box-shadow: 10px 10px 0 rgb(20,20,20);
    margin-bottom: 2.4rem;
}

.project-title {
    border-bottom: 1px solid rgb(20,20,20);
    background-color: yellow;
    font-size: 1.4rem;
}
