body {
  padding: 0;
  margin: 0;
  background-color: #F6F4EF;
  color: rgb(20, 20, 20);
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

.content {
  padding: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
}

form {
  padding: 1.5rem;
  border: 1px solid rgb(20, 20, 20);
  background-color: white;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1.1rem;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 3px;
  font-size: 0.9rem;
  font-family: inherit;
  box-sizing: border-box;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="submit"] {
  background-color: rgb(20, 20, 20);
  color: white;
  border: 1px solid rgb(20, 20, 20);
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 200ms, box-shadow 200ms;
}

input[type="submit"]:hover {
  transform: translate(+4px, -4px);
  box-shadow: 4px 4px 0 rgb(20, 20, 20);
}

input[type="submit"]:active {
  transform: translate(1px, 1px);
  box-shadow: 4px 4px 0 rgb(20, 20, 20);
}

.intro {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid rgb(20, 20, 20);
  margin: 1.5rem 0 2.5rem 0;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
}

.intro {
  border-right: 4px solid rgb(20, 20, 20);
  border-left: 4px solid rgb(20, 20, 20);
}

.guide {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.guide-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .guide-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.guide-card {
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

.guide-content {
  padding: 1.5rem;
}

.icon {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.guide-content h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.guide-content p {
  font-size: 1rem;
}

.guide-note {
  border: 1px solid black;
  background-color: #dde6e7;
  padding: 0 1rem;
}

.guide-note p {
  font-size: 0.875rem;
  font-weight: 500;
}

.project {
  background: white;
  border: 1px solid rgb(20, 20, 20);
  margin-bottom: 2.4rem;
}

.project-title {
  background-color: #dde6e7;
  font-size: 1.4rem;
  padding: 0.75rem;
  font-weight: 600;
}

.project-details div {
  margin-bottom: 1.4rem;
}
.project-details div:last-child {
  margin-bottom: 0;
}